li {
  list-style: none;
}

body,
html {
  font-family: "Slabo 27px", serif;
  margin: 0;
  padding: 2em;
  width: 100%;
}

input {
  font-family: "Slabo 27px", serif;
  width: 30em;
  height: 3em;
  font-size: 1em;
  margin: 0.5em 0;
  padding: 0 1em;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

form {
  width: 30em;
}

button {
  font-family: "Slabo 27px", serif;
  width: 10em;
  height: 3em;
  font-size: 1em;
}
